html,body{
    font-family:"Yu Mincho";
    font-weight: 500;
   }

h1 {
    color: #d3f9f5ff;
    text-shadow:1px 1px 0 rgb(148, 130, 130), -1px -1px 0 rgb(148, 130, 130),
    -1px 1px 0 rgb(148, 130, 130), 1px -1px 0 rgb(148, 130, 130),
    0px 1px 0 rgb(148, 130, 130),  0-1px 0 rgb(148, 130, 130),
    -1px 0 0 rgb(148, 130, 130), 1px 0 0 rgb(148, 130, 130);
    }
body{
    background-image:url(https://msp.c.yimg.jp/images/v2/FUTi93tXq405grZVGgDqGxuQACxqi0fkbGNWy3I1FNV8LvV8Ruk1udChO8efbB8UNtfxJZy2Z8MkwMxHGIGTeTMwqx4j6JcYDIcqw_MaPg4YSsMhnpaCpUeVPyG9yk9X80fLBGJ23w_uA-JcwWHMSRG7VP5s-UcegyJC-OZ3nXMuKtVajSOCYe7GRgJtAHcL/maxresdefault.jpg?errorImage=false);
    background-repeat: repeat;
    background-size: 900px;
}
.header li{
    list-style:none;
    
    padding:5px 20px 20px 20px;
    
    }

ul{
    display:flex;
    list-style:none;
 }  

    .header{
        
            display:flex;
            background-color: #d3f9f5ff;
            height: 50px;
            color:#bebebe;
            padding:20px 20px 20px 20px;
            font-size: 22px;
            }
    span{
        margin-right: 300px;
    }
    p{
        
            color:rgb(148, 130, 130);
            font-size: 23px;
    }
    .stpr{
    display: flex;
    }
    .stpr img{
    height: 300px;
    width: 480px;
    margin-left: 500px;
    }
    

    .second ul{
    padding: 0px;
    font-size: 24px;
    text-shadow:1px 1px 0 rgb(148, 130, 130), -1px -1px 0 rgb(148, 130, 130),
    -1px 1px 0 rgb(148, 130, 130), 1px -1px 0 rgb(148, 130, 130),
    0px 1px 0 rgb(148, 130, 130),  0-1px 0 rgb(148, 130, 130),
    -1px 0 0 rgb(148, 130, 130), 1px 0 0 rgb(148, 130, 130);
    }
    .second li{
    padding-right: 30px;
    }
    .root{
    color: #ffecb5;
    }
    .colon{
    color:#a3c4fd;
    }
    .rinu{
    color:#eea0a0;
    }
    .satomi{
    color: #fabbe8;
    }
    .jel{
    color:#f6b26b;
    }
    .nanamori{
    color:#cba7d6;
    }
    .namahousou{
    display: flex;
    }
    .namahousou img{
    height: 300px;
    width: 480px;
    margin-left: 90px;
    }
    .kousiki{
    color:#fd8eb8;
    }
    h2{
    color:#f58b8b;
    }
    .second a{
    color:rgb(112, 212, 252);
    }
    .third a{
    color:#fda0c4;
    }
    .header a{
    color:#c9c8c8;
    }